rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /audio/{allPaths=**} {
      allow read, write: if true;
    }
    match /lifelogs/{allPaths=**} {
      allow read, write: if true;
    }
    match /photos/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
